/  lancer la compile : slimrb -p template-CV.V3.html.slim template-CV.V3.html; html safe => .html_safe
- $srcRel = "images/"
- $srcAbs = "https://latelierdelucie.fr/Newsletters/miroir/Relance_panier_#{$dt}/FR/images/"
- $srcAbs = "http://www.webdesignord.fr/domoti/CD/images/"

/ layout numeric
- $pad_ext = $objso["layout"]["bdr-l"]
- $column  = $objso["layout"]["column"]; $gutter = $objso["layout"]["gutter"]

/ color ref source.json
- $primaryColor   = $objso["layout"]["color"]["primary"]
- $secondaryColor = $objso["layout"]["color"]["secondary"]
- $tertiaryColor  = $objso["layout"]["color"]["tertiary"]
